* {
    margin: 0;
    padding: 0;
    border: border-box;
}
body {
    background-color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #f5f5f5;
}
.nav-links li a:hover {
    color: #ff0000;
    font-weight: 700;
    background-color:  #00d4d4;
    border: 1px solid #009B34;
    border-radius: 50px;
    padding: 0.5rem;
    display: inline-block;
    transition: 0.2s linear;
    display: inline-block;
}
.nav-links i {
    color: #ff0000;
    margin-right: 0.3rem;
    display: none;
   
}
/* Show icon on hover or when active */
.nav-links li a:hover i,
.nav-links li a.active i {
    display: inline-block;
}
.container {
    position: relative;
    width: 95%;
    left: 50%;
    transform: translate(-50%, -10%);
    justify-items: center;
    height: 380px;
}
.image {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}
.search input {
    position: absolute;
    top:35%;
    left: 4.5rem;
    border-radius: 50px;
    padding: 0.7rem;
    background-color: rgb(44, 44, 44);
    border: none;
    margin: 1rem;
    color: #ffff;
    font-weight: 500;
    font-size: 1rem;
    padding: 12px 15px 12px 50px;
    width: 650px;
}
.search i{
    color: #666;
    position: absolute;
    left: 6.7rem;
    top: 43%;
    font-size: 1rem;
}
button {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 0.7rem;
    border-radius: 50px;
    width: 200px;
    font-size: 0.8rem;
    color: white;
    background: linear-gradient(90deg, rgb(73, 1, 1),#680000,#a30101, #ff0202, rgb(255, 68, 68));
    border: none;
    cursor: pointer;
    transition: transform 0.3 ease, box-shadow 0.3s ease;
}
button:hover {
    border: 0.3px solid #ffff;
    animation: pulseGlow 2s ease-in-out infinite;
}
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 5px rgba(4, 255, 255, 0.5); /* Teal glow */
        background: linear-gradient(90deg, #ff0000, #01fc54, #02ffff);
      }
      50% {
        box-shadow: 0 0 15px rgba(0, 211, 211, 0.8); /* Stronger glow */
        background: linear-gradient(90deg, #df0000, #00d346, #00dfdf); /* Darker gradient */
      }
      100% {
        box-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
        background: linear-gradient(90deg, #ff0000, #01fc54, #02ffff);
      }
    }
.text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f5f5f5;
    position: relative;
    top: 70%;
    width: 40rem;
}
.text span {
    color: #adabab;
    line-height: 1.3rem;
}
.container-3 {
    background-color: rgb(41, 41, 41);
    position: absolute;
    padding: 0;
    border-radius: 5px;
    left: 1.5rem;
    width: 95%;
    color: #f5f5f5;
    font-size: 0.9rem;
    text-align: left;
    max-width: 100%;
}
.container-3 strong, ol, li {
    padding: 0.5rem;
    line-height: 1.5rem;
    margin: 0;
    position: relative;
    top: 5px;
    left: 3px;
    list-style: none;
}
.container-3 span {
    color: #aaaaaa;
    font-size: 0.8rem;
}
@media (min-width: 768px) and (max-width: 1000px) {
    .container {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate (50%, 8%);
    }
    .nav-links ul {
        gap: 1rem;
        font-size: 0.8rem;
    }
    .container-3 {
        position: absolute;
        top: 34%;
    }
    .container-3 strong, ol, li, span {
        font-size: 0.7rem;
    }
}
@media (min-width: 1001px) {
    .container {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate (50%, 8%);
    }
    .nav-links ul {
        gap: 1rem;
        font-size: 0.8rem;
    }
    .container-3 {
        position: absolute;
        top: 33%;
    }
    .container-3 strong, ol, li, span {
        font-size: 0.7rem;
    }
}
@media (max-width: 1445px) {
    .container {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate (50%, 8%);
    }
    .nav-links ul {
        gap: 1rem;
        font-size: 0.8rem;
    }
    .container-3 {
        position: absolute;
        top: 45%;
    }
    .container-3 strong, ol, li, span {
        font-size: 0.7rem;
    }
}
@media (max-width: 767px) {
    .nav-links ul {
        gap: 1rem;
        font-size: 0.8rem;
    }
    .container {
        width: 100%;
    }
    .text {
        width: 20rem;
        font-size: 0.8rem;
    }
    .text span {
        font-size: 0.7rem;
    } 
    .search input {
        position: absolute;
        left: 1rem;
        width: 300px;
    }
    .search i {
        position: absolute;
        left: 3rem;
        top: 43%;
        font-size: 1rem;
    }
    .container-3 {
        position: absolute;
        top: 46%;
        left:0;
        width: 100%;
    }
    .container-3 strong, ol, li, span {
        font-size: 0.7rem;
    }
}
@media (max-width: 392px) {
   .nav-links ul {
        gap: 1rem;
        font-size: 0.8rem;
    }
    .container {
        width: 100%;
    }
    .text {
        width: 20rem;
        font-size: 0.8rem;
    }
    .text span {
        font-size: 0.7rem;
    } 
    .search input {
        position: absolute;
        left: 1rem;
        width: 250px;
    }
    .search i {
        position: absolute;
        left: 3rem;
        top: 43%;
        font-size: 1rem;
    }
    .container-3 {
        position: absolute;
        top: 60%;
        left:0;
        width: 100%;
    }
    .container-3 strong, ol, li, span {
        font-size: 0.7rem;
    }
}
